/*
* @Author: MilFun
* @Date:   2019-09-04 14:35:58
* @Last Modified by:   milfun
* @Last Modified time: 2019-09-27 17:52:56
*/
@charset "UTF-8";
html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input, textarea, ul, ol, li, hr,form {margin: 0;padding: 0;    -webkit-text-size-adjust: none;}
body{color: #282828;background-color: #f6f6f8;font-size: 16px}
ul, ol {list-style-type: none;}
dd {
    display: block;
    margin-inline-start: 40px;
}
input{
	outline:none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border:none;
}
a{text-decoration:none;text-align: center;color: #61687c;}
.clear {clear: both;}
.overflow {overflow: hidden;}
.blue{color: #5dd5c8;}   
.grey{color: #bbb;}  
.black{color: #333;}
.yellow{color: #ffe300;}  


/*********************************/
.contain{
	width: 100%;
	text-align: center;
}
.header{
	display: block;
	width:100%;height:49px;background:#282828;
	box-shadow: 0 1px 8px rgba(0,0,0,.06);
    position: relative;
    z-index: 1005;}
.inner {
	display: inline-block;
    width: 1184px;
}
.logo {
    float: left;
    padding: 6px 0 0 0;
}
.logo a {
    display: block;
    width: 110px;
    height: 36px;
    background: url(../img/logo.png) 3px 7px no-repeat;
    background-size: 105px 19px;
}
.nav{
    font-size: 0;
    float: left;
    margin-left: 15px;
    height: 49px;
    line-height: 49px;
}
.user-nav{
    font-size: 0;
    float: left;
    margin-left: 15px;
    height: 49px;
    line-height: 49px;
}
.btns{
   color: #FFF;
}
.btns a{
    color: #FFF;
}
.link-scan{display:inline-block;font-size:14px;margin-right:20px}
.new {

    position: absolute;
    top: -9px;
    right: -20px;
    height: 14px;
    padding: 0 6px;
    line-height: 14px;
    background-color: #ef505e;
    color: #fff;
    font-size: 12px;
    border-radius: 7px;
}
.nav li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    margin: 0 7px;
}
.nav li a{
    display: block;
    color: #fff;
    padding: 0 5px;
    position: relative;
}

.nav-city {
    float: left;
    position: relative;
    cursor: pointer;
    height: 49px;
    line-height: 49px;
    color: #5dd5c8;
}

.nav-city .icon-poi {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 23px;
    background: url(../img/icon-poi.png) 0 -165px;
    margin: 17px 3px 0 12px;
}
.nav-city .switchover-city {
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
}

.user-nav {
    font-size: 0;
    float: right;
    margin-left: 15px;
    height: 49px;
    line-height: 49px;
}
#header a {
    color: #fff;
}

.register{
	display: block;
	width: 100%;
    height:120px;
    text-align: center;
    background:#5dd5c8;
}
.register-box{
	display: inline-block;
    height:120px;
    background:#5dd5c8;
}
.icon-tip {
    float: left;
    height: 118px;
    margin: 2px 35px 0 0;
}
.step-form {
    float: right;
    position: relative;
    text-align: left;
}
.step-form img {
    height: 26px;
    margin: 22px 0 8px 0;
}
.input-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.input-box input {
    padding: 6px 10px 5px 10px;
    height: 25px;
    border: none;
    line-height: 25px;
    background: #fff;
    box-shadow: 1px 0 4px 0 rgba(86,174,164,.5);
    font-size: 12px;
    vertical-align: middle;
}
.show-code-box {
    color: #54cbc4;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 6px;
}
.ipt-phone {
    width: 150px;
}
.btn {
    display: inline-block;
    min-width: 112px;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #5dd5c8;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
    outline:none;
}
.btn2 {
    display: inline-block;
    min-width: 112px;
    box-sizing: content-box;
    height: 49px;
    line-height: 49px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    outline:none;
}

.registe-btn {
    min-width: 80px;
    box-sizing: content-box;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #fff;
    height: 34px;
    color: #FFF;
    line-height: 34px;
}
.search{
	position: relative;
	display: block;
	width: 100%;
    height:120px;
    text-align: center;
    z-index: 1003;
}

.search-box{
	display: inline-block;
    margin: 20px 0;
    text-align: center;
}
.search-box input {
    padding: 6px 10px 5px 10px;
    border: none;
    line-height: 30px;
    background: #fff;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,.5);
    font-size: 16px;
    vertical-align: middle;
}
.search-box input :hover {
	box-shadow: 1px 0 4px 0 rgba(255,0,0,.5);
}
.ipt-search {
	outline:none;
	height: 40px;
    width: 700px;
    font-size: 16px;
    padding: 10px 19px;
}

.btn-search {
    color: #FFF;
    height: 50px;
    line-height: 50px;
    background-image: none;
    font-size: 16px;
    width: 140px;
}
.search-form{
	text-align: center;
	width: 1184px;
}
.search-hot{
	margin: 10px 0;
	color:#9fa3b0;
	font-size: 14px;
	margin-left: -150px;
}
.search-hot a {
	color: #5dd5c8;
    display: inline-block;
    margin-right: 22px;
}
.cent{
    display: block;
    width: 100%;
    text-align: center;
}
.cent-box{
    display: inline-block;
    width: 1184px;
}
.option-left{
    display: block;
    float: left;
    height: 460px;
   
    background: #FFF;
    font-size: 14px;
    padding-left: -10px; 
    
}
.option-right{
    display: inline-block;
    float: left;
    height: 430px;
    width: 780px;
    margin: 15px 0 15px 10px;
    background: #FFF;
    font-size: 14px;

}
.option-left dd{
    height: 27px;
    padding: 7px 20px;
    margin-left: 0px;
    text-align: left;
     color:#61687c;
}
.option-left dd:hover{
    border-right-color:#fff;
    color: #FFF;
    background: #5dd5c8;
}
.option-left dd b{
    font-size: 15px;
}
.option-left dd a{
    padding: 0 10px;
}
dl.cur{}

.flex{
    display:-webkit-box;display:-webkit-flex;display:flex;
}
.flex-item{
    -webkit-box-flex:1;-webkit-flex:1;flex:1;
}

.goimg{
    margin: 2px;
}

.job{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.job-box{
    display: inline-block;
    width: 1184px;
    height: 500px;
    color: #61687c;
}
.job-opt{
    display: block;
    font-size: 14px;
    width: 100%;
    float: left;
    text-align: left;

}
.job-opt span{
    margin-right: 30px;
}
.cur{
    color: #5dd5c8;
}
.job-list{
    display:inline-block; 
    margin: 10px 0;
    padding: 10px 8px;
    width: 100%;
    text-align: left;

}
.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.job-item{
    padding-top: 10px;
    width: 382px;
    height: 120px;
    background: #FFF;
    float: left;
    margin: 0 12px 14px 0;
}
.job-item:hover{
    color: red;
    background: #5dd5c8;
}
.job-item p {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #61687c;
    width: 244px;

    padding-right: 100px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.job-item p img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 15px;
}
.m-info{
    text-align: left;
}
.job-item a:hover{
    color: #5dd5c8;
}
.job-info{
    padding-top: 5px;
}
.job-hr{
    margin-left: 10px;
    font-size: 12px;
    color: #8d92a1;
}
.job-text {
    font-size: 12px;
    color: #61687c;
    border-bottom: dashed 1px #e3e7ed;
    width: 344px;
    padding-right: 0;
    line-height: 28px;
}
.wage {
    color: #fc6c38;
    position: absolute;
    right: 0;
    top: 0;
}
.common-tab-more {
    text-align: center;
    margin-top: 10px;
}
.common-tab-more .btn {
    width: 382px;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    background: #f6f6f8
}
.btn-outline {
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    padding: 0 9px 0 11px;
    min-width: 0;
    margin-left: 17px;
}
.company{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.company-box{
    display: inline-block;
    width: 1184px;
    height: 500px;
    color: #61687c;
}
.company-list{
    display:inline-block; 
    margin: 10px 0;
    padding: 10px 8px;
    width: 100%;
    text-align: left;

}
.company-item{
    height: 140px;
    width: 282px;
    float: left;
    margin: 0 12px 12px 0;
    background: #fff;
}
.company-item:hover{
    color: red;
    background: #5dd5c8;
}
.com-info {
    display: block;
    color: #414a60;
    height: 77px;
    margin: 0 20px;
    padding-top: 20px;
    border-bottom: dashed 1px #ededed;
}
.com-info img {
    height: 55px;
    width: 55px;
    float: left;
    border-radius: 10px;
    border: solid 1px #f2f5fa;
}
.sub-li {
    display: block;
    height: 140px;
    width: 282px;
}
.com-text {
    margin-left: 65px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.com-text h4 {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.com-text p {
    height: 40px;
    line-height: 41px;
    color: #898e9d;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
}
.pull-right {
    text-align: right;
    float: right;
}

.about-info {
    display: block;
    color: #8d92a1;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    text-align: left;
} 
.about-info p {
    width: 240px;
    margin: 0 auto;
}
#siderbar {
    position: fixed;
    top: 49px;
    right: 0;
    background-color: #fff;
    box-shadow: -1px 0 8px rgba(0,0,0,.03);
    height: 100%;
    z-index: 1099;
}.sider-index {
    width: 40px;
    height: 100%;
    float: left;
    position: relative;
    transition: .2s width;
}.siderbar-top {
    width: 100%;
    float: left;
    padding-top: 15px;
    text-align: center;
}#siderbar .siderbar-bottom li, #siderbar .siderbar-top li {
    display: block;
    position: relative;
    font-size: 12px;
    color: #9fa3b0;
    line-height: 14px;
}
#siderbar .siderbar-top li a i {
    display: block;
    width: 21px;
    height: 21px;
    margin: 0 auto 10px;
    background: url(../img/siderbar.png) no-repeat;
    -webkit-background-size: 42px auto;
    background-size: 42px auto;
}
#siderbar .siderbar-top li a {
    color: #fff;
    transition: .2s all;
    padding: 15px 0;
    display: block;
}
#siderbar .siderbar-top .icon-sider-interest {
    background-position: 0 -62px;
}
#siderbar .siderbar-top .icon-sider-chat {
    background-position: 0 -21px;
}
#siderbar .siderbar-top .icon-sider-resume {
    background-position: 0 -42px;
}
#siderbar .siderbar-top .icon-sider-interview {
    background-position: 0 -84px;
}
#siderbar .siderbar-top li.active a .icon-sider-chat, #siderbar .siderbar-top li:hover a .icon-sider-chat {
    background-position: -21px -21px;
}
#siderbar .siderbar-top li:hover a .icon-sider-interest {
    background-position: -21px -62px;
}
#siderbar .siderbar-top li:hover a .icon-sider-resume {
    background-position: -21px -42px;
}
#siderbar .siderbar-top li:hover a .icon-sider-interview {
    background-position: -21px -84px;
}
.siderbar-bottom {
    position: absolute;
    width: 100%;
    bottom: 140px;
    text-align: center;
}

#siderbar .siderbar-bottom li a, #siderbar .siderbar-top li a {
    padding: 15px 0;
    display: block;
    text-decoration: none;
    color: #414a60;
}
#footer {
    background: #fff;
    padding: 20px 0 10px;
    margin-top: 43px;
    position: relative;
    z-index: 22;
    color: #8d92a1;
    border-top: solid 1px #f6f6f8;
}
.footer-social {
    position: absolute;
    font-size: 12px;
    text-align: right;
    right: 0;
    top: 0;
}
.footer-about dl {
    width: 192px;
    float: left;
}.links {
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 30px auto 6px auto;
    width: 1184px;
    font-size: 12px;
    height: 27px;
    overflow: hidden;
}.links .links-item {
    margin-bottom: 20px;
}.footer-social p {
    text-align: right;
    padding: 0;
    font-size: 13px;
}
.copyright {
    color: #eeeff3;
    font-size: 12px;
    margin-top: 20px;
}
.copyright span {
    color: #8d92a1;
    display: inline-block;
    margin-right: 15px;
}
.copyright img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: -5px 0 0 0;
    margin-right: 0;
}

.banner{
    background: #444c60 url(../img/detail-bg.jpg) center center no-repeat;
    height: 204px;
    color: #fff;
    padding-top: 10px;
}
.job-detail{
    position: relative;
    border: none;
    height: auto;
    padding: 20px 0;
    margin: 0;
    text-align: left;
}
.info-primary {
    width: 650px;
}
.job-status {
    color: rgba(255,255,255,.7);
    font-size: 14px;
    line-height: 20px;
}

.name {
    font-size: 32px;
    color: #fff;
    line-height: 45px;
    font-weight: 400;
    padding: 11px 0 8px;
}
.name h1 {
    vertical-align: middle;
    font-size: 32px;
    display: inline-block;
    font-weight: 400;
    margin-right: 10px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
}
.salary {
    display: inline-block;
    vertical-align: middle;
    color: #fa6a43;
    height: 42px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
}
.info-primary p {
    color: rgba(255,255,255,.7);
    margin-bottom: 10px;
}

.tag-container {
    display: inline-block;
    line-height: 0;
    width: 750px;
    position: relative;
}
.info-primary .job-tags {
    padding-top: 8px;
    height: 27px;
    overflow: hidden;
    display: inline-block;
}
.job-tags span{
    display: inline-block;
    padding: 0 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #5ed5c8;
    color: #5ed5c8;
    height: 23px;
    line-height: 23px;
    border-radius: 13px;
    margin-top: 0;
    vertical-align: top;
}
.job-op {
    width: 298px;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    margin-top: -47px;
}
.op-container {
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.op-container a {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #fa6a43;
}
.btn-startchat{
    display: inline-block;
    min-width: 296px;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.job-content{
    margin-top: 30px;
}
.company-sider, .job-sider {
    float: right;
    width: 284px;
    padding-bottom: 40px;
}
.job-sider .sign-wrap {
    position: static;
    top: unset;
    left: unset;
    width: auto;
    min-height: 0;
    margin: 0 0 30px;
}
.job-sider .sign-form {
    position: relative;
    width: auto;
    height: auto;
    background-color: #5dd5c8;
    box-shadow: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    
}
.sider-company{
    text-align: left;
}
.sider-company .title {
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    color: #414a60;
}
.sider-company .company-info {
    overflow: hidden;
    line-height: 60px;
    margin-bottom: 27px;
}
.sider-company p {
    line-height: 20px;
    margin-bottom: 26px;
}
.sider-company img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 18px;
    border-radius: 10px;
}
.jobs-detail {
    position: relative;
    padding-right: 25px;
    border-right: 1px #f5f7f9 solid;
    margin-right: 322px;
    padding-bottom: 45px;
    min-height: 813px;
    text-align: left;
}.detail-op {
    float: left;
    width: 100%;
    padding-top: 0;
    margin-bottom: 10px;
}.detail-op .btns {
    padding-top: 21px;
}
.detail-op .btns {
    float: right;
    padding-top: 4px;
    text-align: right;
}.detail-op .op-links {
    text-align: right;
    padding-top: 10px;
    position: relative;
}.detail-op .op-links .link-wechat-share {
    position: relative;
    background-position: 0 -138px;
}

.detail-op .op-links a {
    display: inline-block;
    margin-left: 20px;
    background: url(../img/icons-like-2.png) no-repeat;
    color: #9fa3b0;
    padding-left: 20px;
    -webkit-transition: none;
    transition: none;
}.detail-op .op-links .link-report {
    background-position: 0 6px;
}
.detail-op .op-links .link-like {
    background-position: 0 -73px;
}.jobs-detail .detail-figure {
    float: left;
    position: static;
}

.jobs-detail .detail-figure {
    position: absolute;
    top: -62px;
    left: 0;
}.jobs-detail .detail-figure img {
    margin-right: 20px;
}

.jobs-detail .detail-figure img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    vertical-align: top;
}.jobs-detail .detail-op .name {
    margin-top: 5px;
}
.detail-op .name {
    margin-top: 8px;
}
.detail-op .name {
    font-size: 20px;
    color: #424a5e;
    font-weight: 400;
}.icon-brand, .icon-vip {
    background-position: 0 -1150px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 15px;    display: inline-block;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;

}.vdot {
    display: inline-block;
    padding: 0 10px 0 7px;
}.job-detail .detail-content {
    clear: left;
}.job-sec {
    position: relative;
}.job-sec h3 {
    font-weight: 700;
    font-size: 15px;
    color: #424a5e;
}
.chat-sider h3, .job-sec h3, .secretary-sec h3 {
    font-size: 18px;
    font-weight: 400;
    color: #424a5e;
    line-height: 50px;
    padding: 0 0 10px 0;
    margin-bottom: 0;
    background: url(../img/line-sec.png) 0 45px no-repeat;
}

.filter-box {
    display: block;
    width: 100%;
    height: 160px;
    background: #fff;
    padding: 20px 0;
    position: relative;
    box-shadow: 0 3px 6px rgba(6,0,1,.05);
}
.filter-search{
    display: block;
    height: 40px;
    width: 800px;
    border: 1px solid #5dd5c8;
}
.job-search{
    display: inline-block;
    float: left;
    height: 26px;
    width: 560px;
    padding: 7px 15px;
    border:  0;
    font-size: 15px;
    color: #414a60;
}

.city-cel{
    display: inline-block;
    position: relative;
    float: left;
    padding: 9px 15px 9px 15px;
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    border-right: none;
    cursor: pointer;
}
.city-sel .line {
    width: 1px;
    height: 26px;
    background-color: #f2f2f5;
    position: absolute;
    top: 8px;
    right: 0;
}
.btn-s{
    float: right;
    color: #FFF;
    padding: 1px 0;
}
.hot2{
    display: block;
    margin: 20px 0;
    clear: both;
    text-align: left;
}
.super-search{
    display: block;
    height: 100px;
    text-align: left;
    color: #414a60;
    font-size: 14px;

}
.super-search  a{
    padding-right:  60px;
}
.alljob{
    height: auto;
    width: 100%;
    margin: 30px 0;
    box-shadow: 0 3px 6px rgba(6,0,1,.05);

}

.left-bar{
    width: 884px;
    float: left;
    /*border: 1px solid #5dd5c8;*/
}
.right-bar{
    width: 284px;
    float: right;
    /*border: 1px solid #5dd5c8;*/
}
.jb{
    float: right;
}

.info-item{
    display: block;
    padding: 20px 0;
    height: 60px;
    background: #FFF;
    border-bottom: 1px #f2f2f5 solid;
}
.info{
    display: block;
}
.info-primary{
    display: inline-block;
    float: left;
    width: 304px;
    font-size: 13px;
    text-align: left;

}
.info-item p{
    padding: 0 30px;
    color: #9fa3b0;
    width: 284px;
}
.info-item:hover{
    background: #f6f6f8;
}
.pr-title{
    display: block;
    font-size: 16px;
    color: #5dd5c8!important;
}
.tt{display: inline-block;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;}
.pr-com{
    color: #414a60!important;
}
.pr-wage{
    display: inline-block;
    float: right;
    color: #fc703e;
    padding:  2px 20px;
    text-align: left;
}
.info-company{
    width: 284px;
    margin-left: 50px;
}

.info-chat{
    display: inline-block;
    float: right;
    width: 154px;
    font-size: 13px;
    text-align: left;
}

.info-chat img {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    vertical-align: middle;
    margin: -3px 10px 0 0;
}
.page {
    text-align: center;
    padding: 12px 0;
}
.page a, .page span {
    display: inline-block;
    min-width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px;
    text-align: center;
    background: #fff;
    border: 1px #fff solid;
    vertical-align: middle;
}
.page a.prev {
    display: inline-block;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: 9px -830px;
    border-color: #e8e9ed;
    transition: none;
}
.page a.next {
    display: inline-block;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: 10px -883px;
    border-color: #e8e9ed;
    transition: none;
}
.page a.next, .page a.prev {
    border-color: #e8e9ed;
    -webkit-transition: none;
    transition: none;
}
.bar-box{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    
}
.reg_mobile{
    height: 300px; 
    color: #FFF; 
    background: #5dd5c8;
}
.reg_mobile h3{
    font-weight: 200;
    padding: 20px 0;

}
.ipt-cel{
    width: 100%;
}
.ipt-wap{
    position: relative;
    display: block;
    margin: 0 30px 30px 30px;
    background: #FFF;
    border: 1px solid #5dd5c8;
}
.focus-wrap .icon-sign-phone{background-position:2px -185px}
.focus-wrap .icon-sign-pwd{background-position:2px -277px}
.focus-wrap .icon-sign-code{background-position:2px -230px}
.focus-wrap .icon-sign-sms{background-position:2px -327px}
.ipt{
    margin-left: 20px;
    width: 164px;
    min-width: 0;
    padding: 9px 18px;
    min-height: 22px;
    line-height: 22px;
    border-color: #e3e7ed;
    vertical-align: middle;
}
.icon-sign-phone {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 11px;
    background-position: 2px 1px;
    background-image: url(../img/icons-sign.png);
    background-repeat: no-repeat;
    transition: box-shadow linear .2s;
}
.icon-sign-sms {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 11px;
    background-position: 2px -141px;
    background-image: url(../img/icons-sign.png);
    background-repeat: no-repeat;
        transition: box-shadow linear .2s;
}
.btn-sms {
    position: absolute;
    right: 1px;
    top: 2px;
        width: 92px;
    font-size: 14px;
    background-color: #fff;
    background-position: 0 -356px;
    min-width: 104px;
    color: #5dd5c8;
    border: 0;
}
.promotion-img img{
    display: block;
    width: 100%;
    height: auto;
}
.resume-refresh li.refresh-test {
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 16px;
    position: relative;
}
.resume-refresh h4 {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #414a60;
    line-height: 20px;
    text-align: left;
}
.refresh-test-img {
    display: block;
    background: url(../img/five-graph.png) no-repeat center;
    background-size: contain;
    width: 192px;
    height: 122px;
    margin: 16px auto;
}
.refresh-test p {
    font-size: 12px;
    color: #9fa3af;
    line-height: 17px;
    margin: 16px 0;
    text-align: center;
}
.refresh-btn, .refresh-btn-test {
    width: 100%;
    margin-top: 14px;
    display: block;
    height: 34px;
    line-height: 34px;
    color: #FFF;
    border: 0 none;
    border-radius: 0;
}
.form-btn {
    margin-top: 35px;
}

.form-btn .btn {
    background-color: #fff;
    color: #00c2b3;
    font-size: 16px;
    width: 210px;
    height: 42px;
    line-height: 42px;
    border: none;
    cursor: pointer;
}
.resume-up{
    display: block;
    height: 45px;
    width: 100%;
    background: #FFF;
    color: #FFF;
    padding: 20px 0;
}
.resume-btn{
    width: 75%;
    color: #FFF;
}
.sure-find{
    font-size: 16px;
    width: 100%;
}
.sure-right{
    float: right;
}
.link-list{
    display: block;
    height: 160px;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0 ;
    clear: both;
}

.link-item a{
    display: block;
    float: left;
    height: 80px;
    width: 194px;
    margin: 0 3px 3px 0;
    position: relative;
}
.link-item img {
    display: block;
    width: 100%;
    height: 100%;
}
