/*
* @Author: MilFun
* @Date:   2019-09-04 14:35:58
* @Last Modified by:   milfun
* @Last Modified time: 2019-10-08 16:11:36
*/
@charset "UTF-8";
html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input, textarea, ul, ol, li, hr,form {margin: 0;padding: 0;    -webkit-text-size-adjust: none;}
body{background-color: #f6f6f8;font-size: 16px}
ul, ol {list-style-type: none;}
input{
	outline:none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border:none;
}
a{text-decoration:none;text-align: center;}
.line {display: inline-block;width: 1px;height: 12px;vertical-align: middle;background: #e0e0e0;margin: 0 10px;}
.dot {display: inline-block;padding: 0 10px 0 7px;}
.clear {clear: both;}
.overflow {overflow: hidden;}
.flex{display:-webkit-box;display:-webkit-flex;display:flex;}
.flex-item{-webkit-box-flex:1;-webkit-flex:1;flex:1;}

/*********************************/
.contain{
	width: 100%;
	text-align: center;
}
.header{
	display: block;
	width:100%;height:49px;background:#282828;
	box-shadow: 0 1px 8px rgba(0,0,0,.06);
    position: relative;
    z-index: 1005;}
.nav{
    font-size: 0;
    float: left;
    margin-left: 15px;
    height: 49px;
    line-height: 49px;
}
.btn {
    display: inline-block;
    box-sizing: content-box;
    height: 36px;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #5dd5c8;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
    outline:none;
}
.job-item p {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #61687c;
    width: 244px;

    padding-right: 100px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

#footer {
    background: #fff;
    padding: 20px 0 10px;
    margin-top: 43px;
    position: relative;
    z-index: 22;
    color: #8d92a1;
    border-top: solid 1px #f6f6f8;
}