<!-- sidebar -->
<div id="siderbar" style="top: 0px;">
        <div class="sider-index">
            <ul class="siderbar-top">
                <li data-value="interest">
                    <a href="javascript:;" ka="side_interest"><i class="icon-sider-interest"></i>感兴趣</a>
                </li>
                <li data-value="contact">
                    <a href="javascript:;" ka="side_chat"><i class="icon-sider-chat"></i>沟通过</a>
                </li>
                <li data-value="deliver">
                    <a href="javascript:;" ka="side_deliver"><i class="icon-sider-resume"></i>已投递</a>
                </li>
                <li data-value="interview">
                    <a href="javascript:;" ka="side_interview"><i class="icon-sider-interview"></i>面试</a>
                </li>
            </ul>
            <ul class="siderbar-bottom">
                <li>
                    <a class="siderbar-back-top" href="javascript:;" title="返回顶部"></a>
                </li>
                <li>
                    <a class="siderbar-feedback" href="javascript:;">反馈</a>
                </li>
                <li>
                    <a class="siderbar-wechat" href="javascript:;">微信
                      
                    </a>
                </li>
                <li>
                    <a class="siderbar-app" href="javascript:;">APP
                       
                    </a>
                </li>
            </ul>
        </div>
    </div>
<!-- sidebar -->
<!-- foot -->
<div id="footer">
    <div class="inner home-inner">

        <div class="copyright">
            <p>
                <span>Copyright © 2019 MilFun直聘</span><span>闽ICP备14013441号-5</span><span>京ICP证150923号</span>
                <span>
                     <a href="#" ka="link-businesslicense" target="_blank">
                         <img src="https://static.zhipin.com/v2/web/geek/images/icon-badge-1.png" alt="">
                         电子营业执照
                     </a>
                 </span>
                <span><a href="#" ka="link-beian" target="_blank">闽公网安备11010502032801 <img src="https://static.zhipin.com/v2/web/geek/images/icon-beian.png" alt=""></a></span>
                <span><a href="#" ka="link-sdwj" target="_blank">首都网警</a></span>
                <span><a href="#" ka="link-hr-service" target="_blank">人力资源服务许可证</a></span>
            </p>
        </div>
    </div>
</div>
<!-- foot -->