<!---->

	<div class="docker tips">
		<div class="inner">
			<div class="tips-left">
				<p>抢先知晓全球最新鲜、最棒的创意商业资讯</p>
				<p>扩充你的灵感库</p>
			</div>
			<div class="tips-right">
				<a href="" class="btn wxload">使用微信登陆</a>
			</div>

			
		</div>
	</div>

	<!---->
	<div class="docker footer">
		<div class="inner">
			<p class="foot-doc">
				<a href="" class="foot-link">关于我们</a>
				<a href="" class="foot-link">广告服务</a>
				<a href="" class="foot-link">商户入驻</a>
				<a href="" class="foot-link">免责申明</a>
			</p>
			<p  class="foot-info">  闽ICP备010000000号
				<span>TOPYS.CN </span>
				<span></span>
				<span>2003-2019 ALL RIGHTS RESERVED.</span>
				<span>福清市米饭联盟有限公司</span>
			</p>
			
		</div>
	</div>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript">
		var top=$(".header").offset().top;
		$(window).scroll(function () {
		  if ($(window).scrollTop() >= 100) {
		    $(".share-btn").addClass("show-share");
		  } else {
		     $(".share-btn").removeClass("show-share");
		  }
		}).trigger("scroll");
	</script>
</body>
</html>