<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate"> 
{load href="__CSS__m.css" /}
<title>MilFun</title>
</head>

<body>
<div class="contain">
	<div class="header">
	    <div class="inner">
	        <div class="logo">
	            <a href="#" title="MilFun米饭"></a>
	        </div>
	            <div class="nav-city">
	                <p class="nav-city-box" ><i class="icon-poi"></i><span class="nav-city-selected">福清</span><span class="switchover-city">[切换城市]</span></p>
	                
	            </div>
	        <div class="nav">
	            <ul>
	                <li class="cur"><a  href="http://localhost/mp/index.php">首页</a></li>
	                <li class=""><a href="http://localhost/mp/index.php/jobs/">职位</a></li>
	                <li class=""><a href="http://localhost/mp/index.php/resumes/">人才</a></li>
	                <li class=""><a href="http://localhost/mp/index.php/companys/">企业</a></li>
	                <li class=""><a href="#">资讯</a></li>
	            </ul>
	        </div>
	        <div class="user-nav">
                <!--未登录-->
                <div class="btns">
                    <a href="https://www.zhipin.com/geek/attresume/parser.html" class="link-scan" title="上传简历，解析内容，完善注册">上传简历</a>
                    <a href="https://www.zhipin.com/geek/attresume/parser.html"  class="link-scan" title="上传简历，解析内容，完善注册">我要找工作<span class="new" style="display: inline;">hot</span></a>
                    <a href="https://signup.zhipin.com?intent=1" class="link-scan" title="我要招聘">我要招聘</a>
                    <a href="https://signup.zhipin.com" class="btn2 btn-outline">注册</a>
                    <a href="https://login.zhipin.com" class="btn2 btn-outline">登录</a>
                </div>
        </div>
	    </div>
	</div>